<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <script type="text/javascript">


function myFunction() {
  alert("This item has been added to the cart");
}
    



</script>


</head>
<body>



   <div>

    <img src="static/photos/clothes.jpeg">
    <button onclick="myFunction()">Add to cart</button>
    




    <img src="static/photos/laptops.jpeg">
    <button onclick="myFunction()">Add to cart</button>


    <img src="static/photos/shoes.jpeg">
    <button onclick="myFunction()">Add to cart</button>

    
    <img src="static/photos/sweets.jpeg">
    <button onclick="myFunction()">Add to cart</button>
</div> 

    

</body>
</html>